body {
  background-color: #FEFDFC;
/*  font-family: 'Roboto', sans-serif;*/
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
}

h3 {
  font-family: 'Fredericka the Great', cursive;
}

.tagline {
  font-size: 200% !important;
}

.jumbotron{
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
  margin-top: 0;
}

.homepage {
  background-image:url("http://i.imgur.com/ix4OvHL.png");
  max-width: 100%;
}

.jumbotron.homepage {
  text-align: center
}

.navbar {
  margin-bottom:0; 
}