body {
  background-color: #FEFDFC;
}

.navbar-default {
    background-color: #8C8F8E; 
}

.holds-map {
  height:500px;
}
#map {
  height: 500px;
  position:absolute;
  width:100%;
  display:block;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}

footer {
  position:relative;
  bottom:0;
  width: 100%;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
}

h3 {
  font-family: 'Fredericka the Great', cursive;
}

.tagline {
  font-size: 200% !important;
  text-align: center;
}

.jumbotron{
  background-size:cover;
  background-repeat: no-repeat;

  color:white;
  margin-top: 0;
  margin-bottom: 0;
}

.homepage {
  background-color: #8C8F8E;
}

.jumbotron.homepage h1 {
	text-align: center
}

.navbar {
  margin-bottom:0; 
}

.navbar-brand {
  padding: 0px;
  padding-left: 5px;
}



